body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: 
    #77D4FC;
}
label{
    display: inline-block;
    float: center;
    clear: center;
    width: 200px;
    text-align: right;
}
input {
  display: inline-block;
  float: center;
}

fieldset {
    padding-left: -70px;
    border: 1px solid rgb(0, 0, 0);
  width: 400px;
  margin:auto;
  background-color: #fff;
  box-shadow:0 0 50px #999;
  -moz-border-radius: 5px;
 -webkit-border-radius: 50px;
}